body {background-color:##EEEEEE;}
h1   {font-family:Tahoma;color:maroon;font-size:20pt;}
hr   {font-family:Tahoma;color:navy;}
p    {font-family:Tahoma;font-size:90%;margin-left:15px;}
a    {font-family:Tahoma;font-size:90%;}
table {
    table-layout : fixed;}
#default
{font-family:Tahoma;}
.body
{
margin:auto;
width:960px;
padding:10px;
}
.menu
{
background-image:url('topnav_bg.gif');
background-position: bottom;
background-repeat: repeat-x;
background-color: #EEE;
margin-top: 5px;
margin-bottom: 10px;
width:960px;
display: block;
}
.menuItem
{
float: left;
width: 400px;
word-spacing: 12px;
font-size: 90%;
padding-left: 15px;
padding-top: 6px;
white-space: nowrap;
text-align: left;
}
#bottomlinks
{
font-family:Tahoma;
width: 100%;
}
a:link    {color:blue;}
a:visited {color:grey;}
a:hover   {color:black;}
a:active  {color:blue;}
